body{ 
    background-color: rgb(51, 111, 141);

}
.panel1{
    width: 400px;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;

}
.outbox{
    display: inline-block;
    border: 1px solid black;
    width: 145px;
    height: 350px;
    margin: 8px;
    background-color: rgb(93, 81, 81);
}
.movieimg{
    margin: 4%;
    
}
.data{
    margin: 4%;
    color: aliceblue;
   
}
.checked{
    color: orange;
}
.slec:hover{
    border: 2px solid rgb(16, 15, 15);
}
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
nav{
    background: rgb(77, 72, 207);
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    /* line-height: 40px; */
    margin-right: 0 5px;
} 
nav ul li{
    display: inline-block;
    margin: 0 25px;
}
nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}
a.active,a:hover{
    background-color: rgb(25, 38, 139);
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked~ul{
        left: 0;
    }
}