*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
nav{
    background: rgb(77, 72, 207);
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    /* line-height: 40px; */
    margin-right: 0 5px;
} 
nav ul li{
    display: inline-block;
    margin: 0 25px;
}
nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}
a.active,a:hover{
    background-color: rgb(25, 38, 139);
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked~ul{
        left: 0;
    }
}
.panel1{

    background-color: #1F6E8C;
    height: 20px;
    display: flex;
    align-items: center;
}
#welcome{
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.panel2{
    height: 500px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    background-image: url("backg.png");
}
/* body{
    background-image: url("https://testbeamvideos.s3.ap-southeast-2.amazonaws.com/Landing/landing-bg-ww.jpg")

} */
.message{
    color: rgb(231, 234, 238);
    background-color: rgba(20, 19, 19, 0.5);
    margin: 100px;
    height: 200px;
    width: 800px;
    border: 10px;
    font-size: 2rem;
}

.panelin{
    height: 50px;
    margin: 70px;
    text-align: center;
    background-color: orange;
    border: 1px solid white;
}
footer{
    height: 150px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: flex-end;
}
ul{
    margin: 5px;
}