*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 80px;
    background-color: #0E2954;
    display: flex;
    align-items: center;
    color: aliceblue;
    /* justify-content: center; */
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.page{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 50px;
}
.slec:hover{
    border: 1px solid white;
    border: 5%;
}
.panel1{
    background-color: #1F6E8C;
    height: 20px;
    display: flex;
    align-items: center;
}
#welcome{
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.panel2{
    height: 500px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
body{
    background-image: url("https://testbeamvideos.s3.ap-southeast-2.amazonaws.com/Landing/landing-bg-ww.jpg")

}
.message{
    color: rgb(231, 234, 238);
    background-color: rgba(20, 19, 19, 0.5);
    margin: 100px;
    height: 200px;
    width: 800px;
    border: 10px;
    font-size: 2rem;
}

.panelin{
    height: 50px;
    margin: 70px;
    text-align: center;
    background-color: orange;
    border: 1px solid white;
}
footer{
    height: 150px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: flex-end;
    
}
ul{
    margin: 5px;
}
/* @media(min-width:600px) {
    .message{
        color: aliceblue;
    margin: 100px;
    height: 200px;
    width: 600px;
    border: 8px;
    font-size: 1rem;
    }
} */

